.heroImg {
  max-height: 300px;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F5F2EA;
  margin: 0;
}

body html {
  height: 100%;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 32px 0;
  z-index: 10;
}

.navigation {
  background: #F5F2EA;
  width: auto;
  display: flex;
  margin: 32px 0;
}

.inline-block {
  background-color: #FF9E74;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  white-space: nowrap;
  display: flex;
}

.inline-block a {
  display: flex;
  align-items: center;
}

.logo {
  width: 400px;
  height: 114px;
  margin-left: 32px;
}


.topnav {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.topnav a {
  padding: 18px 32px;
  text-decoration: none;
  color: #372213;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: capitalize;
}

.navSearch {
  margin: 18px 32px;
}

.navProfile {
  height: 65px;
  width: 65px;
  margin: 0px 32px;
  background-color: #F5F2EA;
  padding: 4px;
  border-radius: 100%;
}

.bodyContent {
  display: flex;
  margin: 32px;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: 8px;
}

.shelf {
  display: flex;
  flex-direction: column;
}

.shelf h2 {
  color: #000;
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bookDeck {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.bookTab {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  width: calc(15% - 32px);
}

.bookTab p {
  color: #3B2110;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 4px;
  max-width: 90px;
}

.expandButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expand {
  color: #372213;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  padding-right: 4px;
  margin: 0px;
}

.expandArrow {
  width: 25px;
  height: 25px;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  min-width: fit-content;
  background-color: #566979;
  height: fit-content;
  padding: 32px;
  position: sticky;
  top: 112px;
}

.rightPanelText {
  max-width: 250px;
}

.rightPanelText h2 {
  color: #F5F2EA;
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  line-height: normal;
  margin: 16px;
}

.rightPanelText p {
  color: #F5F2EA;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 4px;
}

.rightPanelText button {
  border-radius: 25px;
  border: 1px solid #5E4839;
  background: #FF9E74;
  width: 210px;
  height: 32px;
  color: #3B2110;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.genreTitle {
  color: #F5F2EA;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.userInfo {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-align: center;
}

.profilePic {
  margin: 16px;
  width: 35%;
}

.readingDeck {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin: 12px;
  padding: 8px;
}

.bookStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 16px;
}

.bookCover {
  height: 125px;
  width: 80px;
  margin: 8px;
}

.title {
  margin: 0px;
  color: #F5F2EA;
  text-align: center;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.author {
  margin: 0px;
  color: #F5F2EA;
  font-family: Lato;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.progressBanner {
  position: absolute;
  right: 0%;
  bottom: 20%;
  height: 40px;
  width: 30px;
}

.profileButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileButtons button {
  width: 321px;
  height: 49px;
  flex-shrink: 0;
  border-radius: 25px;
  border: 1px solid #3B2110;
  background: #FF9E74;
  color: #3B2110;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.shelfSmall {
  display: flex;
  flex-direction: column;
}

.shelfSmall h2 {
  color: #F5F2EA;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
}

.shelfSmall p {
  color: #F5F2EA;
}

.pageNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pageNav h1 {
  color: #000;
  font-family: Lato;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  max-width: 40%;
}

.customInput {
  position: relative;
}

.customInput span {
  position: absolute;
  top: 10px;
  right: 10px;
}

.pageNav input {
  border-radius: 25px;
  height: 40px;
}

.toggle {
  box-sizing: border-box;
  background-color: #FCBDA1;
  border: 1px solid #D9D8C8;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 9px 0;
}

.toggleButton {
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  padding: 9px 20px;
}

.toggleButton a {
  text-decoration: none;
  color: #372213;
}

.toggleButton.active {
  background-color: #FF9E74;
  border: 1px solid #D9D8C8;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
  margin-bottom: 32px;
}

.genres button {
  height: 45px;
  flex-shrink: 0;
  border-radius: 25px;
  border: 1px solid #372213;
  background: #F5F2EA;
  padding: 4px 32px;
  margin: 8px;
  color: #372213;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.tertiary-link {
  border: 0;
  background: transparent;
  color: white;
  font-size: 14px;
  letter-spacing: 0.7px;
  padding: 0;
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: space-between;
}

.fContent {
  display: flex;
}

.fNav {
  display: flex;
  flex-direction: column;
  margin: 0px 32px 32px 32px;
}

.fNavHead {
  color: #372213;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.fNavItem {
  color: #372213;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: capitalize;
  margin: 0;
}

#copyright {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #566979;
  color: #F5F2EA;
  margin: 15% auto;
  padding: 20px;
  position: relative;
  width: 400px;
}

.modal-content p {
  font-size: 10px;
}

.modalTop {
  display: flex;
  justify-content: space-between;
}

.modalTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.modalTitle h2 {
  color: #F5F2EA;
  font-family: Lato;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.3px;
  margin: 0;
}

.modalTitle p {
  color: #F5F2EA;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  margin: 0;
}

.modalReview {
  display: flex;
}

.modalReview p {
  color: var #F5F2EA;
  text-align: center;
  font-family: Lato;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
}

.modal .bookDescription {
  margin-bottom: 0;
  margin-top: 16px;
}

.modal button {
  border: 0;
  /* background-color: #FF9E74; */
  border: 1px solid #372213;
  border-radius: 25px;
  color: #372213;
  font-size: 14px;
  letter-spacing: 0.7px;
  padding: 10px 22px;
  margin: 24px 35px 0;
  width: 80%;
  text-transform: uppercase;
}

/* The Close Button */
.close {
  position: absolute;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  top: 6px;
  right: 6px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Goal Modal */

.goalModal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goalModal h2 {
  color: #F5F2EA;
  text-align: center;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.6px;
}

.goalModal .goalAdjustment {
  display: flex;
}

.goalModal .goalChangeButton {
  background: transparent;
  border: none;
  color: #F5F2EA;
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 1.65px;
  margin: 0;
}

#goalInput {
  background: transparent;
  border: 1px solid #F5F2EA;
  color: #F5F2EA;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  height: 60px;
  letter-spacing: 1.4px;
  width: 60px;
  margin: 0 8px;
}

.goalModal p {
  color: #F5F2EA;
  text-align: center;
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.4px;
  margin: 0;
}

.goalModal .update {
  border: 0;
  background-color: #FF9E74;
  border: 1px solid #372213;
  border-radius: 25px;
  color: #372213;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  letter-spacing: 0.7px;
  padding: 10px 22px;
  /* margin: 24px 35px 0; */
  margin-top: 11px;
  width: 80%;
  text-transform: uppercase;

}

.goalModal .cancel {
  border: 0;
  background: #B3B3B3;
  border: 1px solid #372213;
  border-radius: 25px;
  color: #372213;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  letter-spacing: 0.7px;
  padding: 10px 22px;
  /* margin: 24px 35px 0; */
  margin-top: 4px;
  width: 80%;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .bodyContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 200px;
    height: 57px;
    margin-left: 32px;
  }

  .leftPanel {
    width: 100%;
  }
}